@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 15px;
}

.hero-img {
    background-color: grey;
    width: 900px;
    height: 200px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.header,
.hero {
    max-width: 1000px;
    margin: 0 auto;
}

.info {

}